:root {
    --color-one: rgba(249, 140, 141, 1);
    --color-two: rgba(80, 192, 233, 1);
    --color-three: rgba(249, 217, 102, 1);
    --color-four: rgba(73, 176, 170, 1);
    --color-black: rgba(0, 0, 0, 1);
}

/* Resets some of the user stylesheet default rules */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
header,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Global Element Styles */

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select,
time {
    font: inherit;
}

#countdown-timer {
    font-size: 5rem;
}

.btn-game {
    background-color: lightgreen;
    height: 20vw;
    width: 20vw;
    font-size: 2rem;
    border-radius: 10%;
    border: var(--color-black) solid 2px;
}

.btn-game[data-game-btn="number"] {
    font-size: 6rem;
    background-color: var(--color-one)
}

.btn-game[data-game-btn="fizz"] {
    background-color: var(--color-two);
}

.btn-game[data-game-btn="buzz"] {
    background-color: var(--color-three);
}

.btn-game[data-game-btn="fizzbuzz"] {
    background-color: var(--color-four);
}