:root {
    --color-background: rgba(215, 237, 236, 1);
    --color-one: rgba(249, 140, 141, 0.8);
    --color-two: rgba(80, 192, 233, 0.8);
    --color-three: rgba(249, 217, 102, 0.8);
    --color-four: rgba(73, 176, 170, 0.8);
    --color-black: rgba(0, 0, 0, 0.8);
}

/* Resets some of the user stylesheet default rules */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
    font-family: sans-serif;
    background-color: var(--color-background);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
header,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Global Element Styles */

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 3rem;
}

#countdown-timer {
    font-size: 3rem;
}

#lastAnswerCorrect {
    font-size: 4rem;
}

.btn-game {
    font-family: 'Bungee', cursive;
    height: 150px;
    width: 150px;
    font-size: 2rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: var(--color-black) solid 5px;
    margin: 10px;
}

.btn-game[data-game-btn="number"] {
    font-size: 6rem;
    background-color: var(--color-one);
}

.btn-game[data-game-btn="fizz"] {
    background-color: var(--color-two);
}

.btn-game[data-game-btn="buzz"] {
    background-color: var(--color-three);
}

.btn-game[data-game-btn="fizzbuzz"] {
    background-color: var(--color-four);
}

/* Modal Styles */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}